body {
    background: rgb(209, 220, 224);
}

main.container {
    width: 75%; 
    margin: auto;
}


/* typography */

p {
    color: rgb(24, 29, 29);
}

h1{
    font-family: 'Secular One', sans-serif;
    font-size: 3rem;
}

h2{
    font-family: 'Secular One', sans-serif;
    font-size: 2.5rem;
}



/*navigation bar */

nav{
    overflow:hidden;
    background-color: rgb(25, 28, 29);  
    width: 100%;  
}

nav li{
    float: left;
    }

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(25, 28, 29);
    }   

nav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 17px;
    background-color: #rgb(25, 28, 29);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    }

    
nav a:hover{
    background: rgb(2, 99, 134);
    }

.active {
    background: rgb(2, 124, 168);
}


/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
  }


/* form */

input[type=text]{
    padding: 8px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid  rgb(53, 57, 58);
    border-radius: 5px;
    }


input[type=date]{
    padding: 8px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid  rgb(53, 57, 58);
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(67, 72, 73);
    font-size: .75rem;
    }


input[type=submit]{
    padding: 15px 55px;
    margin: 8px 0;
    border: 1px solid  rgb(53, 57, 58);
    border-radius: 5px;
    background: rgb(1, 87, 119);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    }


textarea{
    padding: 8px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid  rgb(53, 57, 58);
    border-radius: 5px;
    }


label{
    padding: 8px 8px;
    margin: 8px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .75rem;
    font-weight: 700;
    color: rgb(53, 57, 58);

    }
